<div class="<%= 'avatari ' + (size ? 'avatari--' + size : '') %>" style="background: <%= object.avatari_color%>;">
    <span class="initials"><%= object.send(object.class.avatari_initials) %></span>
</div>
