<div class="<%= 'avatari avatari--' + version %>" style="background: <%= object.avatari_color %>;">
    <span class="initials"><%= object.send(object.class.avatari_instance.initials_method) %></span>
</div>
